<% module_namespacing do -%>
class <%= class_name %>Service < ApplicationService
  def list_all          = repository.all
  def find(id)          = repository.find(id)
  def create(attributes) = repository.create(attributes)
  def update(id, attributes) = repository.update(id, attributes)
  def destroy(id)       = repository.destroy(id)

  private

  def repository = @repository ||= <%= class_name %>Repository.new
end
<% end -%>
